<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Boggle</title>
</head>

<body>
  <section id="game-board-container">
    <table id="game-board">
      <!-- generate rows and columns in JS -->
    </table>
  </section>
  <section id="scores-container">
    <div id="high-score"></div>
    <div id="current-score"></div>
  </section>
  
  
 
  {% block body %}BODY GOES HERE{% endblock %}
</body>

</html>