<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Boggle</title>
  <link rel="stylesheet" href="static/styles.css">
</head>

<body>
  <section id="game-board-container">
    <table>
      <tbody>
        {% for row in board %}
          <tr>
            {% for letter in row %}
              <td>{{ letter }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

  <section id="scores-container">
    <div> High Score <span id="high-score"></span>in <span id="play-count"></span>plays</div>
    <div> Score <span id="current-score"></span>Seconds Left: <span id="timer"></span></div>
  </section>
  
  <section id="form-container">
    <form id="word-form" action="/" method="POST">
      <input id="word-input" type="text" name="word-input" required>
      <button>Enter</button>
    </form>
  </section>


  <section id="message-container">
    <!-- {% for msg in get_flashed_messages() %}
      <p>{{ msg }}</p>
    {% endfor %} -->
    
  </section>

  <section id="words-container">
    <ul></ul>
  </section>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="static/scripts.js"></script>
</body>
</html>